################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SecSisBoletas/v16/Server/sqlite3
/Services/obj/Release/netstandard2.0
/Services/obj/Debug/netstandard2.0
/SecSisBoletas/obj/Release/SecSisBoletas.csproj.CoreCompileInputs.cache

# Visual Studio 2015/2017 cache/options directory
.vs/
